.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100%;
    padding: 2rem 0.875rem;
    background-color: var(--color-gray-100);
    z-index: 1;
    transition: var(--transition);
    box-shadow: var(--shadow);
}

.sidenav-header {
    position: relative;
}

.sidenav-header-container {
    display: flex;
    align-items: center;
}

.sidenav-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3.75rem;
}

.sidenav-header-image {
    opacity: 1;
    transition: var(--transition);
}

.sidenav-toggle {
    position: absolute;
    right: -1.6rem;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-gray-100);
    font-size: 1.5rem;
    cursor: pointer;
    transition: var(--transition);
}

.sidenav-nav {
    margin: 4rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 8rem);
}

.sidenav-nav::-webkit-scrollbar {
    display: none;
}

.sidenav-nav-item {
    height: 3.5rem;
    margin-top: 0.75rem;
    list-style: none;
}

.sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: var(--transition);
}

.sidenav-nav-link:is(:hover, .sidenav-nav-link-active) {
    background-color: var(--color-primary);
}

.sidenav-nav-icon {
    display: flex;
    justify-content: center;
    min-width: 3.75rem;
    font-size: 1.5rem;
}

.sidenav-nav-text {
    font-size: 1rem;
    font-weight: 600;
    transition: var(--transition);
    white-space: nowrap;
}

:is(.sidenav-nav-icon, .sidenav-nav-text) {
    color: var(--color-gray-600);
    transition: var(--transition);
}

.sidenav-nav-link:is(:hover, .sidenav-nav-link-active)
    :is(.sidenav-nav-icon, .sidenav-nav-text) {
    color: var(--color-gray-100);
}

.sidenav-close {
    width: 5.4rem;
}

.sidenav-close .sidenav-toggle {
    transform: translateY(-50%);
}

.sidenav-close :is(.sidenav-header-image, .sidenav-nav-text) {
    opacity: 0;
}

.sidenav-close ~ main {
    left: 5.4rem;
    width: calc(100% - 5.4rem);
}

main {
    position: absolute;
    top: 0;
    left: 16rem;
    height: 100vh;
    width: calc(100% - 16rem);
    transition: var(--transition);
}
